@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'bakh-bold';
  overflow-x:hidden;
  
}
p , a , ul , li , span , h1 , h2 , h3 ,h4 ,h5  ,input {
  color: rgb(73, 73, 73) ;
}

.scroll-container{
  scroll-snap-type:x  mandatory ;
  scroll-behavior:smooth ;

}

.scroll-container{
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  /* overflow-y: scroll; */
}




.sliderItem{
  scroll-snap-align: start;
}


.multipleslider .slick-slide {
  margin-right:  0.3rem;
  margin-left: 0.3rem;
}

.multipleslider .slick-track{
 
  max-height: 100% !important;
  min-height: 100% !important;
  flex-wrap: nowrap;
  display: flex;

}
